:root {
    --background-color: #6f4e37;
    --text-color: #fffdd0;
    --button-color: #d6d1d1;
}

html,body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/*
.btn-primary {
    background-color: var(--background-color);
}
 */

.form-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 15rem;
}

.btn-label > button {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.divider {
    padding: 1rem;
    text-align: center;
}

